.dash-container {
  padding: 30px;
  font-family: Arial;
}
.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.card {
  width: 200px;
  padding: 20px;
  background: linear-gradient(135deg, #a1c4fd, #c2e9fb);
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  color: #333;
}
